.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  padding: 0px;
  list-style: none;
  display: inline;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-variant: small-caps;
}
