$bgColor: #8c1c13;
$lightTextColor: #e7d7c1;
$darkTextColor: #a78a7f;
$linkColor: #a7c8bb;

$workColor: #bf4342;
$overtimeColor: #bf6443;
$shortBreakColor: #59cd90;
$longBreakColor: #426a5a;
$overrunTime: #5ace6d;
